#mask {
  position:absolute;
  left:0;
  top:0;
  z-index:9000;
  background-color:#26262c;
  display:none;
}  
#boxes .window {
  position:absolute;
  display:none;
  z-index:9999;
  padding:50px;
  border-radius: 5px;
  text-align: center;
}

#boxes #dialog {
  width:460px; 
  padding:5px;
  background-color:white;
  font-size: 15pt;
}
@media screen and (max-width: 500px) {
 #boxes #dialog {
     width: 360px;
     height: 690px;
        }
@media screen and (max-width: 500px) {
 #popup {
     width: 350px;
     height: 650px;
        }
